#headerText{
    color: white;
}
.primary-button{
    background-color: rgb(255,102,0); border-color: rgb(255, 102, 0);
    
}
.primary-button:hover{
    background: black;
    color: white;
}
.normal-button{
    color: white;
    border-color: rgb(255, 102, 0);
}
.normal-button:hover{
    color: black;
    background:white;
    border-color: rgb(255, 102, 0);
}
.markets-names{
    text-transform: uppercase;
    
}
.orange-color{

    color:rgb(255,102,0);
}
.green-color{
    color:rgb(23,255,0);
}